.color-bar {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    --color-circle-width: 24px;

    .color-dot {
        position: relative;
        width: var(--color-circle-width);
        height: var(--color-circle-width);
        border-radius: 50%;
        cursor: pointer;

        &.active {
            box-shadow: var(--shadow-circle);
            border: 2px solid var(--error-color);
        }

        &.active::before {
            content: '';
            position: absolute;
            top: calc((var(--color-circle-width) - 13px) / 2);
            left: calc((var(--color-circle-width) - 14px) / 2);
            width: 8px;
            height: 5px;
            border: solid var(--secondary);
            border-width: 0 0 2px 2px;
            transform: rotate(-45deg);
        }
    }
}

.size-options {
    display: flex;
    gap: 10px;

    .size-btn {
        position: relative;
        width: 60px;
        aspect-ratio: 12 / 7;
        background-color: transparent;
        border-radius: 10px;
        border: 2px solid var(--secondary);
        font-weight: var(--font-bold);
        color: var(--secondary);
        opacity: 0.75;
        cursor: pointer;
    }

    .size-btn:hover {
        opacity: 1;
    }

    .size-btn.disabled {
        pointer-events: none;
        opacity: 0.5;

        &::before {
            content: '';
            position: absolute;
            top: -45%;
            left: 37%;
            width: 90%;
            height: 100%;
            border-bottom: 2px solid var(--secondary);
            transform: translateX(-50%) rotate(-27.64deg);
        }
    }

    .size-btn.active {
        opacity: 1;
        border-color: var(--primary);
        color: var(--primary);
    }
}

// Responsive
// <= Tablet
@media (max-width: 1024px) {
    .color-bar {
        --color-circle-width: 20px;
    }

    .size-options {
        .size-btn {
            width: 50px;
        }
    }
}

// Mobile
@media (max-width: 480px) {
}

// Minitablet
@media (min-width: 480px) and (max-width: 768px) {
}

// Tablet
@media (min-width: 768px) and (max-width: 1024px) {
    .color-bar {
        --color-circle-width: 20px;
    }

    .size-options {
        .size-btn {
            width: 50px;
        }
    }
}

// Laptop
@media (min-width: 1024px) and (max-width: 1280px) {
}
