.product-detail {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product-title {
    padding-bottom: 10px;
}

.variant-title {
    margin-top: 10px;
    padding: 10px 0;
    border-top: 2px solid var(--secondary-25);
}

.variants {
    display: flex;
}
